<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-YSD63KV3EV"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-YSD63KV3EV');
  </script>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Data Challenge | Africa</title>
  <meta property="og:title" content="Data Challenge | Africa" />
  <meta property="twitter:title" content="Data Challenge | Africa" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://datachallenge.africa" />
  <meta property="og:image" content="https://datachallenge.africa/images/hero-og.png" />
  <meta property="twitter:image" content="https://datachallenge.africa/images/hero-og.png" />
  <link href="https://datachallenge.africa/images/favicon.png" rel="shortcut icon">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="https://use.typekit.net/kad3hcl.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link
    href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet">
  <script src="https://unpkg.com/@directus/sdk-js@5.3.4/dist/directus-sdk.umd.min.js"></script>
  <script src="https://kit.fontawesome.com/f713a12e61.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

  <!-- Load an icon library to show a hamburger menu (bars) on small screens -->


  <!-- Top Navigation Menu -->
  <div class="topnav">
    <div class="menu-bars">
      <div class="bar-wrap">
        <!-- <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a> -->
      </div>
    </div>
    <a class="top_logo" href="../index.html"><img id="afd-logo-style"
        src="../images/AFD_embleme_horizontale_designation_BLANC.svg" alt="UNDP Logo"><img id="expertise-logo"
        src="../images/logo-expertise-france.png" alt="UNDP Logo"><img src="../images/the-govlab-logo-white.png"
        alt="The GovLab"></a>

    <!-- Navigation links (hidden by default) -->

    <div class='lang-select'>
      <a style="padding: 15px 5px" href="../index.html">EN</a>
      <p style="color:#ffffff">|</p>
      <a style="padding: 15px 5px" class="active"  href="#">FR</a>
    </div>
  </div>
  <!-- <div id="myLinks">
    <div class="menu-items">
      <div class="menu-sub" onclick="dismiss_menu()"><a href=""></a></div>
      <div class="menu-sub" onclick="dismiss_menu()"><a href=""></a></div>
      <div class="menu-sub" onclick="dismiss_menu()"><a href=""></a></div>
      <div class="menu-sub" onclick="dismiss_menu()"><a href=""></a></div>
      <div class="menu-sub" onclick="dismiss_menu()"><a href=""></a></div>
      <div class="menu-sub" onclick="dismiss_menu()"><a href=""></a></div>
      <div class="menu-sub" onclick="dismiss_menu()"><a href=""></a></div>
    </div>
  </div> -->

  <!-- <div class="alert">
      <div id="alert-msg" class="alert-content">
        <p class="text-alert">PRESS RELEASE<br><span id="sub-text"><a
              href=""
              id="text-link" target="_blank"></a></a></span></p>

        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      </div>
    </div> -->

  <div class="row top-section">
    <h1><span class="bold">#</span>DATA<span class="bold">4</span>COVID19 </h1>
    <h4>Africa Challenge</h4>
  </div>



  <div class="page-body" id="home-page">
    <div id="alert-banner" v-for="alert in alertData" v-if="alert.live == true && alert.cookie_banner == false" class="alert-section" >
      <h3>{{alert.alert_title_fr}}</h3>
      <div v-html="alert.description_fr"></div>
      <div class="main-button">
          <a v-if="alert.link" target="_blank":href="alert.link">{{alert.button_text_fr}}</a>
        <a id="close-button" onclick="close_alert()">Close</a>
      </div>
    </div>
    <div id="cookie-policy" v-for="alert in alertData" v-if="alert.live == true && alert.cookie_banner == true && alert.description_fr"  class="alert-section cookies" >
      <div class="cookie-description" v-html="alert.description_fr"></div>
      <div class="main-button cookie-button">
          <a v-if="alert.link" target="_blank":href="alert.link">{{alert.button_text_fr}}</a>
          <a id="close-button" onclick="close_cookie()">I Accept</a>
      </div>
    </div>

    <div class="section-box">
      <div v-html="indexData[0].intro_text_fr"></div>
      <div class="winners-map">
        <img :src="indexData[0].winners_af_map.data.full_url">
      </div>
    </div>
    <div class="topic-row">
      <div class="topic-column description">
        <div class="winner-wrap winner-title">
          <h1>Awardees</h1>
          <p>{{indexData[0].winners_text_fr}}</p>
        </div>
      </div>
      <div v-for="winner in winnersData" class="topic-column">
        <div class="winner-wrap winner-items">
          <h1>{{winner.title_fr}}</h1>
          <p>{{winner.description_fr}}</p>
          <p v-if="winner.grant_amount_fr"><span class="grant_amount">{{winner.grant_amount_fr}}</span></p>

        </div>
      </div>
    </div>
    <div class="section-box">
      <div v-html="indexData[0].additional_thanks_fr"></div>
    </div>
    <div class="main-buttons">
      <a v-if="indexData[0].request_for_proposals_button_fr" href="request-for-proposals.html" class="button home-btn" target="_blank">{{indexData[0].request_for_proposals_button_fr}}</a>
    </div>
  </div>


  <footer>
    <div class="footer-row">

      <div class="footer-col">
        <h4>CONTACT US</h4>

        <a><i class="e-social-media-item fa fa-envelope"></i>&nbsp datastewards@thegovlab.org</a>
      </div>
      <div class="footer-col">
        <h4>FOLLOW US</h4>

        <p> <b> The GovLab</b>&nbsp <a href="https://twitter.com/TheGovLab" target="_blank"><i
              class="e-social-media-item fa fa-twitter" aria-hidden="true"></i></a>
          <a href="https://www.facebook.com/thegovlab/" target="_blank"><i class="e-social-media-item fa fa-facebook"
              aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/company/3288504" target="_blank"><i
              class="e-social-media-item fa fa-linkedin" aria-hidden="true"></i></a>
        </p>
      </div>
    </div>
    <div class="footer-row privacy-statement">
      <p><a href="privacy-policy.html">Privacy Policy</a></p>
    </div>
  </footer>
  <div class="copyright">
    <div class="row">
      <div class="column">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
          <img class="copyright_cc-badge" alt="Creative Commons License"
            src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
        <p>&nbspThis work is licensed under a</p>&nbsp<a rel="license"
          href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0
          International License.</a>.
      </div>
    </div>

  </div>
</body>
<script>
  $(document).ready(function () {
    var alert_msg = document.getElementById("alert-msg");
    $(".close").click(function () {
      alert_msg.style.display = "none";
    });
  });
</script>
<script>
  function close_alert() {
    var x = document.getElementById("alert-banner");
    x.style.display = "none";
  }
</script>
<script>
  function close_cookie() {
    var x = document.getElementById("cookie-policy");
    x.style.display = "none";
  }
</script>
<script>
  /* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */
  function myFunction() {
    var x = document.getElementById("myLinks");
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
  }
</script>
<script>
  /* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */
  function dismiss_menu() {
    var x = document.getElementById("myLinks");
    x.style.display = "none";
  }
</script>
<!-- <script>
  /* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */
  function scroll_dismiss() {
    if (document.body.scrollTop > 10 || document.documentElement.scrollTop > 10) {
      var x = document.getElementById("myLinks");
      if (x.style.display === "block") {
        x.style.display = "none";
      }
    }
  }
</script> -->

<script src='https://unpkg.com/vue@2.0.3/dist/vue.js'></script>
<script src="https://unpkg.com/vue-meta/dist/vue-meta.min.js"></script>
<script src="../js/datachallenge_africa.js"></script>


</html>